.app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 25vh;
}

.app a {
  display: grid;
  place-items: center;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  background: rgba(201, 182, 16, 0.09);
}

.app a:nth-child(odd) {
  background: rgba(112, 173, 12, 0.06);
}
body {
  background-image: url('https://wallpapercave.com/wp/wp12424948.jpg');
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center center;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}